body{
    background-color: rgb(255, 242, 222);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: rgb(206, 226, 244);
    margin: 10px;
    padding: 10px;
    width: 90%;
    display: block;
}

input{
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    display: block;
    margin: 10px;
    padding: 5px;
}

a{
    margin: 10px;
}